<% layout('/layouts/boilerplate') -%>
<body>
  <div class="row mb-4">
    <div class="col-md-8 px-4 mx-auto">
      <h3 class="mt-3 mb-3">Edit your listing</h3>

      <!-- edit listing form -->

      <form
        action="/listings/<%= listing._id %>?_method=PUT"
        method="POST"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-label"> Title </label>
          <input
            class="form-control"
            type="text"
            name="listing[title]"
            value="<%= listing.title %>"
            required
          />
          <div class="invalid-feedback">Please enter a title</div>
        </div>

        <div class="mb-3">
          <label for="Description" class="form-label">Description</label>
          <textarea class="form-control" name="listing[description]" required>
<%= listing.description %></textarea
          >
          <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image URL</label>
          <input
            class="form-control"
            type="text"
            value="<%= listing.image %>"
            name="listing[image]"
            required
          />
          <div class="invalid-feedback">Please enter a valid image url</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              class="form-control"
              type="number"
              name="listing[price]"
              value="<%= listing.price %>"
              required
            />
            <div class="invalid-feedback">Please enter a valid price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              class="form-control"
              type="text"
              name="listing[country]"
              value="<%= listing.country %>"
              required
            />
            <div class="invalid-feedback">Please enter a country name</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            class="form-control"
            type="text"
            name="listing[location]"
            value="<%= listing.location %>"
            required
          />
          <div class="invalid-feedback">Please enter a location</div>
        </div>

        <button class="btn btn-dark edit-btn" type="submit">Edit</button>
      </form>
    </div>
  </div>
</body>
