<% layout('/layouts/boilerplate') -%> <%= success %>

<body>
  <h2 class="main-title">All Listings</h2>

  <div class="row row-cols-lg-3 row-cols-md-2">
    <% allListings.forEach(listing => { %>
    <a class="card-container" href="/listings/<%= listing._id %>">
      <div class="card listing-card">
        <img
          src="<%= listing.image %>"
          class="card-img-top"
          alt="listing image"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <span class="card-title"><%= listing.title %></span> <br />
            ₹ <%= listing.price.toLocaleString("en-IN") %> / night
          </p>
        </div>
      </div>
    </a>
    <% }) %>
  </div>
</body>
